* {
	margin: 0;
	padding: 0;
}

a {
	font-weight: bold;
	color: #1695E9;
}

body {
	font: 16px/1.5 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	letter-spacing: .7px;
	font-weight: normal;
	margin-bottom: .6em;
}

.intro-hook {
    font-weight: bold;
}

p {
	margin: .4em;
	margin-bottom: .93em;
}

.hero p {
    margin: 0;
    margin-bottom: .93em;
}

#document {
	max-width: 960px;
	margin: 30px auto;
	padding: 0 10px;
}

/* Increase top margin for wider displays */
@media screen and (min-width: 1919px) {
    margin: 60px auto;
}

.doc-header {
	margin-bottom: 60px;
}

.doc-header .logo {
    font-size: 69px;
    letter-spacing: 5px;
}

.doc-header .logo a {
    text-decoration: none;
    font-weight: normal;
    border-bottom: 2px dashed #1695E9;
}

.doc-nav {
	text-align: center;
	margin: 40px 0;
}

.doc-nav li {
	display: inline-block;
	text-transform: uppercase;
	font: 18px 'Montserrat';
	letter-spacing: .7px;
	margin: 0 10px;
}

.doc-nav li a {
	padding: 10px 20px;
	text-decoration: none;
}

.doc-nav li a:hover {
	border: 1px dashed #1695E9;
	padding: 9px 19px;
}

section {
    border-bottom: 1px solid #eee;
}

section:last-of-type {
    border: none;
}

.hero p {
	font-size: 24px;
}

.doc-content section {
    margin-bottom: 30px;
}

.doc-content section h3 {
    color: #777;    
}

.doc-footer {
	margin-top: 10px;
	padding: 10px;
	color: #aaa;
	font-size: 14px;
	border-top: 1px solid #eee;
}

.inline-left-thumb {
	width: 200px;
	height: 200px;
	float: left;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.project {
	min-height: 200px;
}

.recent-work-set {
    margin: 10px;
}

.recent-work-set li {
	display: inline-block;    
}

.recent-work-set li .link  {
	display: block;
	text-decoration: none;
}

.work-image {
	display: block;
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.work-label {
    text-align: center;
    display: block;
}

.tech-used {
	font-weight: bold;
	font-size: 13px;
	color: #888;
}

.sites-list li {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 29px;
	margin-right: 15px;
}

.item-github {
	background-image: url('github-box.svg');
}

/* Evade uBlock's cosmetic filtering */
.item-t-witter {
	background-image: url('twitter-box.svg');
}